services:
  warmachine-portfolio:
    build: .
    container_name: warmachine-dashboard
    ports:
      - "3000:3000"
    volumes:
      - ./data:/usr/src/app/data
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: always
